<%- include('../includes/header.ejs') %>
    <main>
        <h3 class="add-product-title">Add Product</h3>
        <form action="/admin/add-product" method="POST">
            <div class="form-group">
                <label for="">Title</label>
                <input type="text" name="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input type="number" name="price" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Image</label>
                <input type="text" name="image" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <textarea name="description" class="form-control"></textarea>
            </div>
            <input type="submit" class="btn btn-primary btn-lg" value="Add Product">
        </form>
    </main>
<%- include('../includes/footer.ejs') %>  