@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    transition: all .5s ease;
}
a:hover{
    color:rgb(136, 140, 132 );
}
li{
    list-style: none;
}
main{
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
    padding-top: 2rem;
}
.btn{
    padding: .6rem 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: .4rem;
    color: #fff;
    transition: all .5s;
    font-size: 1rem;
}
.btn.btn-lg{
    width: 100%;
}
.btn.btn-sm{
    padding: .3rem;
}
.btn.btn-warning{
    background-color: yellow;
    color: #000;
}
.btn.btn-outline-warning{
    border: 2px solid yellow;
    color: #000;
    background-color: #ffff;
}
.btn.btn-outline-warning:hover{
    background-color: rgb(221, 245, 66);
    color: #fff;
    border: 2px solid rgb(221, 245, 66);
}
.btn.btn-warning:hover{
    background-color: rgb(221, 245, 66);
    border:rgb(221, 245, 66) ;
    color: #fff;
}
.btn.btn-danger{
    background-color: crimson;
}
.btn.btn-danger:hover{
    background-color: indianred;
    border:indianred ;
}
.btn.btn-primary{
    background-color: blue;
}
.btn.btn.btn-primary:hover{
    background-color: skyblue;
    border:skyblue ;
}
label{
    
}
input,textarea{
    padding: .3rem;
    margin-top: .8rem;
}